<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bookingkit Test Suite" parallel="tests" thread-count="3">
    <test name="Bookingkit UI tests for edit profile" parallel="methods">
        <parameter name="browser" value="chrome"/>
        <parameter name="environment" value="staging"/>
        <classes>
            <class name="com.bookingkit.EditProfileTest"/>
        </classes>
    </test>
</suite>